body{ 
    background-image: url('macdonald-of-clanranald.png');
}
h1{ 
    width:500px;
    margin: 0 auto;;
    text-align: center;

}
#title{ 
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 50px;
letter-spacing: 1.4px;
word-spacing: 1px;
color: white;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;

}

button{ 
    border-radius: 5px;
    box-shadow: 7px 7px 7px black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-size: 1em;
    padding: 5px; 

}
#deleteButton{ 
    color: red;

}
#searchButton{ 
    color: green;
}

input {
    color: white; ;
    padding: 3px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    border: 2px solid navy; 
}

.created {
    height: 140px; 
    width: 250px;
    justify-content: center;
}
.box {
    display: flex;
     align-items: center;
    justify-content: center;
     }
      
.box div {
     width: 100px;
     height: 100px;
     }